
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Permission Tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>READ/WRITE Permission Test</ion-card-title>
    <ion-card-content>
      <ion-item>
        <ion-button (click)="requestPermissions()">Call Filesystem.requestPermissions()</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="readdir()">Call Filesystem.readdir()</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
